/**
* @author
* @date
* Define the different font size property
**/


/* Font Size 8px */
.fs-8 {
	font-size: 8px;
}

/* Font Size 9px */
.fs-9 {
	font-size: 9px;
}

/* Font Size 10px */
.fs-10 {
	font-size: 10px;
}

/* Font Size 11px */
.fs-11 {
	font-size: 11px;
}

/* Font Size 12px */
.fs-12 {
	font-size: 12px;
}

/* Font Size 13px */
.fs-13 {
	font-size: 13px;
}

/* Font Size 14px */
.fs-14 {
	font-size: 14px;
}

/* Font Size 15px */
.fs-15 {
	font-size: 15px;
}

/* Font Size 16px */
.fs-16 {
	font-size: 16px;
}

/* Font Size 17px */
.fs-17 {
	font-size: 17px;
}

/* Font Size 18px */
.fs-18 {
	font-size: 18px;
}

/* Font Size 19px */
.fs-19 {
	font-size: 19px;
}

/* Font Size 20px */
.fs-20 {
	font-size: 20px;
}

/* Font Size 22px */
.fs-22 {
	font-size: 22px;
}

/* Font Size 23px */
.fs-23 {
	font-size: 23px;
}

/* Font Size 24px */
.fs-24 {
	font-size: 24px;
}

/* Font Size 25px */
.fs-25 {
	font-size: 25px;
}

/* Font Size 26px */
.fs-26 {
	font-size: 26px;
}

/* Font Size 28px */
.fs-28 {
	font-size: 28px;
}

/* Font Size 30px */
.fs-30 {
	font-size: 30px;
}
