/**
* @author
* @date
* Define the properties for cursor
**/

/* Crosshair */
.curch {
	cursor: crosshair;
}

/* Hand */
.curhd {
	cursor: hand;
}

/* Help */
.curh {
	cursor: help;
}

/* Wait */
.curw {
	cursor: wait;
}

/* Progress */
.curpg {
	cursor: progress;
}

/* Move */
.curm {
	cursor: move;
}

/* Pointer */
.curp {
	cursor: pointer;
}