# Forbidden extensions
.project
.buildpath
.vagrant
.directory
.settings/
*.livereload
*.inc.php
*.sql
*.md


# Database, ressources &  more
db_dump/*
ressources/*
doc/*
log/*
conf/*

.sass-cache/*
css/*

#Grunt
node_modules/*

#HTML validation grunt task
validation-status.json