*
* @author
* @date
* Define breakpoints mixin
**/

/** @TODO: add simple and mor usable breapoint mixin: https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd **/


/** MEDIA QUERIES MIXINS **/
// @mixin not working had to double ckeck
/*
$xs: ( max:  $bp-xs-screen );
$sm: ( min:  $bp-sm-screen );
$md: ( min:  $bp-md-screen );
$lg: ( min:  $bp-lg-screen );

$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}µ/

/* OLD BAD WAY */
/** Used for default breakpoint and more; breakpoint are converted to em too **

@mixin bp ($bpoint, $default : true, $caseMin: 0, $caseMax: 0, $caseMinMax: ($minValue, $maxValue)) {

  // Dealing with default breakpoints
  @if $default == true {

    @if $bpoint == mobile {

      @media screen and (max-width: ($mobile-res / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == tablet {

      @media screen and (max-width: ($tablet-res / $base-font-size) * 1em) and  (min-width: (($mobile-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == desktop {

      @media screen and (max-width: ($desktop-res / $base-font-size) * 1em) and  (min-width: (($tablet-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == large-desktop {

      @media screen and (min-width: (($desktop-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

  } @else if $default == false {

    // apply only min conditionnal breakpoint
    @if $caseMin != 0 {

      @media screen and (min-width: ($bpoint / $base-font-size) * 1em) {
          @content;
      }
    // apply only max conditionnal breakpoint
    } @else if $caseMax != 0 {

      @media screen and (max-width: ($bpoint / $base-font-size) * 1em) {
          @content;
      }
    } @else {
      // @TODO: get min and max through a loop and add them
      @each $widthVal in $caseMinMax {
        // @media screen and (min-width: ( ((#{$widthVal})*1) / $base-font-size) * 1em) {
        //   @content;
        // }
      }

    }

  }


}

