/**
* @Godfried Moudondi
* @date
* Define the property for vertical-align
**/

.valb {
	vertical-align: baseline;
}

.valt {
	vertical-align: top;
}

.val-b {
	vertical-align: bottom;
}

.valm {
	vertical-align: middle;
}

.valtb {
	vertical-align: text-bottom;
}

.valtt {
	vertical-align: text-top;
}