/**
* @author
* @date
* Define the different position property
**/

/* Position Static */
.ps {
	position: static;
}

/* Position Relative */
.pr {
	position: relative;
}

/* Position Absolute */
.pa {
	position: absolute;
}

/* Position Fixed */
.pf {
	position: fixed;
}