/**
* @author
* @date
* Define the different position property
**/

/* Position Static */
.pos {
	position: static;
}

/* Position Relative */
.por {
	position: relative;
}

/* Position Absolute */
.poa {
	position: absolute;
}

/* Position Fixed */
.pof {
	position: fixed;
}