/**
* @author
* @date
* Define the global mixins and functions
**/

// @TODO: Add mixins on separated files


/*------------------------------------*\
    $MIXINS
\*------------------------------------*/


/** REM FONT SIZE WITH PX FALLBACK **/

/** Use of rem with pixel fallback **/
@mixin font-size($font-size){
  font-size: $font-size +px;
  font-size: $font-size / $base-font-size +rem;
}


/** REM TO PX CONVERSION WITH PX FALLBACK USEABLE WITH OTHER CSS PROPERTIES **/

/** http://gregrickaby.com/using-the-golden-ratio-and-rems/ **/

// Set your root font-size here
$root-font-size: 16;
$base-line-height: 28;

/* Functions used for the mixin */

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($value) {

  $root: $root-font-size;
  $val: parseInt($value);
  $return: ();

  @if unit($value) == "px" {
    $return: append($return, ($val / $root + rem));
  } @else {
    $return: append($return, ($val * $root + px));
  }

  @return $return;
}

/* Just a reminder: don't use this mixin with properties using percent as value */

@mixin rem($property, $values) {

  $px : ();
  $rem: ();

  $root: $root-font-size;

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else if type-of($value) == number {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / $root + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * $root + px));
        $rem: append($rem, $value);
      }
    }

    @else {
      $px : append($px,  $value);
      $rem: append($rem, $value);
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }

}

/* Calculate Line-height */
/* $baseLineHeight is calculated thanks to Golden Ratio rules,
 * read more here: http://www.pearsonified.com/typography/
 * and especially this link for calculations details :
 * http://www.pearsonified.com/2011/12/golden-ratio-typography.php
*/

@mixin lineHeight($theFontSize, $lineWidth) {

  $phi: 1.6180339887; // The Golden Number
  $fontSize: parseInt($theFontSize); // Avoid errors
  $ajustedLineHeight: ( $phi - 1/(2 * $phi) * ( 1 - ( $lineWidth/( ($fontSize * $phi) * ($fontSize * $phi) ) ) ) ); // The ajusted line-height width line-width (your container's width)
  $baseLineHeight: round($fontSize * $ajustedLineHeight); // Corrected line-height for the Web (pixels troubles)

  line-height: ( parseInt($baseLineHeight) / parseInt($fontSize) );

}


/** MEDIA QUERIES MIXINS **/
/** Used for default breakpoint and more; breakpoint are converted to em too **/

@mixin bp ($bpoint, $default : true, $caseMin: 0, $caseMax: 0, $caseMinMax: ($minValue, $maxValue)) {

  // Dealing with default breakpoints
  @if $default == true {

    @if $bpoint == mobile {

      @media screen and (max-width: ($mobile-res / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == tablet {

      @media screen and (max-width: ($tablet-res / $base-font-size) * 1em) and  (min-width: (($mobile-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == desktop {

      @media screen and (max-width: ($desktop-res / $base-font-size) * 1em) and  (min-width: (($tablet-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

    @if $bpoint == large-desktop {

      @media screen and (min-width: (($desktop-res + 1) / $base-font-size) * 1em) {
        @content;
      }
    }

  } @else if $default == false {

    // apply only min conditionnal breakpoint
    @if $caseMin != 0 {

      @media screen and (min-width: ($bpoint / $base-font-size) * 1em) {
          @content;
      }
    // apply only max conditionnal breakpoint
    } @else if $caseMax != 0 {

      @media screen and (max-width: ($bpoint / $base-font-size) * 1em) {
          @content;
      }
    } @else {
      // @TODO: get min and max through a loop and add them
      @each $widthVal in $caseMinMax {
        // @media screen and (min-width: ( ((#{$widthVal})*1) / $base-font-size) * 1em) {
        //   @content;
        // }
      }

    }

  }


}

/** TRIANGLE **/

/** Source : http://hackingui.com/front-end/10-best-scss-utilities/ **/

/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/

.traingle-mixin {
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
}

@mixin triangle($direction, $size: 6px, $color: #222){

  @extend .traingle-mixin;

  @if ($direction == 'up'){

    border-bottom: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }

  @else if ($direction == 'down'){

    border-top: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }

  @else if ($direction == 'left'){

    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-right: $size solid $color;
  }

  @else if ($direction == 'right'){

    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-left: $size solid $color;
  }

}


/** VERTICAL ALIGN **/

/** Source : http://hackingui.com/front-end/10-best-scss-utilities/ **/
/** Vertically center an element wihtout knowing its dimensions **/

@mixin ghostVerticalAlign(){

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}


/** Source : http://hackingui.com/front-end/10-best-scss-utilities/ **/
/** Sprites resize mixin; to read further https://gist.github.com/darren131/3410875 **/


/** RESIZE SPRITE **/

@mixin resize-sprite($map, $sprite, $percent) {

  $spritePath:    sprite-path($map);
  $spriteWidth:   image-width($spritePath);
  $spriteHeight:  image-height($spritePath);
  $width: image-width(sprite-file($map, $sprite));
  $height: image-height(sprite-file($map, $sprite));

  @include background-size(ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100)));
  width: ceil($width*($percent/100));
  height: ceil($height*($percent/100));
  background-position: 0 floor(nth(sprite-position($map, $sprite), 2)  * ($percent/100) );
}

/** Source : http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ **/
/** SVG Background Image with image fallback; it also takes on retina image display  **/
/*
 *  You will need files named as below
 *  pattern.svg
 *  pattern.png
 *  pattern@2x.png
 */


/** SVG BACKGROUND IMAGE SIZE  WITH FALLBACK **/

$image-path: '../img' !default;
$d-fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size:false, $fallback-extension: 'png'){

    background-image: url(#{$image-path}/#{$name}.svg);

    @if($size){
        background-size: $size;
    }
    // This class depends on Modernizr being used or not
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}


/** Retina display **/

@mixin retinaImg($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: url("#{$at2x_path}");
           background-size: $w $h;
  }
}

/** Source : http://hackingui.com/front-end/10-best-scss-utilities/ **/
/** Gracefully truncate any text and avoid overlow, default is ellipsis **/

@mixin truncateText($overflow: ellipsis){

  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

/** Credits to Titt's bootstrap **/

// Text overflow

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.

@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

// Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

// Reset Box-sizing

@mixin reset-box-sizing() { // For Third party if the proper method fails (see grid/page_base.scss)

  &,
  *,
  *:before,
  *:after {
    @include box-sizing(content-box);
  }

}

// Gradients

// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}
@mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
  background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}
@mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}
@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}
@mixin gradient-striped($color: #f8f7f0, $angle: 135deg) {
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}


/*------------------------------------*\
    $PICTO & $SPRITES
\*------------------------------------*/

@mixin commonButtonsProp () {

    cursor: pointer;
    display: inline-block;
    *display: inline; /* Hack IE7 */
    zoom: 1;
}

