/**
* @author
* @date
* Define the global content variables
**/

/*------------------------------------*\
    $SCREEN

    * Define the different parameters for screen here, this will mainly deal with
    * responsiveness of your website.
    * Change the values below to suit your needs
\*------------------------------------*/

$base-font-family: sans-serif !default;
$base-font-size: 16 !default;
$base-line-height: 28 !default;

$mobile-res: 320;
$tablet-res: 768;
$desktop-res: 1024;
$large-desktop-res: 1260;

$total-col: 12 !default;


/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$white: white;

$black: black;

